# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# database
/prisma/db.sqlite
/prisma/db.sqlite-journal
db.sqlite
*.db

# next.js
/.next/
/out/
next-env.d.ts

# production
/build
/dist

# misc
.DS_Store
*.pem
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# idea files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ticket QR API python stuff
ticket-qr-api/venv/
ticket-qr-api/venv/*
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
